<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <!--//永远以最新的IE版本模式来显示网页-->
  <title>MyLock</title>

  <link rel="stylesheet" type="text/css" href="./css/qrcodeDialog.css">
  <style media="screen">
    body{
      font-family: "微软雅黑";
      background-color: #fff;
    }

  </style>
  <link rel="stylesheet" type="text/css" href="./css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <style media="screen">
    .card{
      border-radius: 20px;
    }
    .dropdown-item {
      color: black;
      padding: 10px;
      text-decoration: none;
      display: inline-block;
      width: 100%;
      border-radius: 5px;
    }
    .dropdown-item:hover {
      background-color: white;
      cursor: pointer;
    }
    .show {
      display: block;
    }
    #filter{
      float: right;
      margin-top:-40px;
      margin-bottom: 10px;
    }
    #filter>span>img{
      display: inline;
      margin-right: 10px;
    }
    #filter>span>p{
      display: inline;

    }
    #filter>span{
      margin-right: 10px;
      padding: 8px;
      border-radius: 5px;
      cursor: pointer;
    }
    #filter>span:hover{
      box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    }
    #filter>span>img{
      border-radius: 10px;
      border-style: dotted;
    }
    .tabs>li>a:hover{
      cursor: pointer;
      color: dimgrey !important;
    }
    .tabs>li:nth-child(1)>a:hover{
      background-color: white;
    }
    .tabs>li:nth-child(2)>a:hover{
      background-color: rgb(123, 230, 182);
    }
    .tabs>li:nth-child(3)>a:hover{
      background-color: rgb(231, 240, 117);
    }
    .tabs>li:nth-child(4)>a:hover{
      background-color: #90caf9;
      color: white !important;
    }
    .tabs>li:nth-child(5)>a:hover{
      background-color: rgb(191, 191, 191);
      color: white !important;
    }
  </style>
  <script type="text/javascript" src="./js/jquery.min.js"></script>
  <script type="text/javascript" src="./js/web3.min.js"></script>
  <script type="text/javascript" src="./js/base.js"></script>
  <script type="text/javascript" src="./js/materialize.min.js"></script>
  <script type="text/javascript" src="./js/qrcode2.min.js"></script>
  <script type="text/javascript">
    function addLock(type, nickname, num, SLID, isShown, st, et) {
      var resource = {
        'icon': ['images/lock_unleased.svg', 'images/lock_rented.svg', 'images/lock_renting.svg', 'images/lock_future.svg'],
        'classType': ['unleasedDiv', 'rentedDiv', 'rentingDiv', 'futureDiv'],
        'func': ['Unlock("'+SLID+'")', 'alert("You have no access to it now!")', 'Unlock("'+SLID+'")'],
      }

      var $card_image = $('<div><img><span></span></div>');
      $card_image.filter("div").eq(0).attr({
        'class': 'card-image waves-effect waves-block waves-light'
      });
      $card_image.children("img").attr({
        'class': 'activator',
        'src': resource.icon[type],
      });

      var $card_content = $('<div><span></span></div>');
      $card_content.filter("div").eq(0).attr({
        'class': 'card-content'
      });
      $card_content.find("span").eq(0).attr({
        'class': 'card-title activator grey-text text-darken-4 truncate',
      });
      $card_content.find("span").html(nickname);

      var $card_reveal;
      if (type == 0 || type == 1) {
        // own
        $card_reveal = $('<div><span></span><p></p><a></a><a></a></div>');
        $card_reveal.find("a").eq(0).attr({
          'onclick': "toggleStore('"+SLID+"', "+isShown+", '"+st+"', '"+et+"',"+num+")",
          'class': 'dropdown-item hoverable ',
          'style': 'text-align:center'
        });
        $card_reveal.find("a").eq(0).html(isShown==true?"Discontinue":"Launch");
      } else if (type == 2) {
        // renting
        $card_reveal = $('<div><span></span><p></p><a></a></div>');
      } else if (type == 3) {
        // booked
        $card_reveal = $('<div><span></span><p></p></div>');
      }
      if (type == 0 || type == 2) {
        // able to control
        $card_reveal.find("a").last().attr({
          'onclick': 'Unlock("'+SLID+'")',
          'class': 'dropdown-item hoverable ',
          'style': 'text-align:center'
        });
        $card_reveal.find("a").last().html("Unlock");
      }
      $card_reveal.filter("div").eq(0).attr({
        'class': 'card-reveal ',
        'id': 'reveal'+num
      });
      $card_reveal.find("span").eq(0).attr({
        'class': 'card-title activator grey-text text-darken-4',
      });
      $card_reveal.find("span").eq(0).html(nickname + "<i class='material-icons right' id='close"+num+"'>close</i>");
      $card_reveal.find("p").eq(0).html("Placeholder");

      var $newLockCard = $('<div><div class="card hoverable"></div></div>');
      $newLockCard.filter("div").eq(0).attr({
        'class': 'col s6 m4 l3 lock-item ' + resource.classType[type]
      });
      $newLockCard.children("div").append($card_image).append($card_content).append($card_reveal);
      $("#lock-list").append($newLockCard);
    }
    function dateFormat(time, addDay){
      time = new Date(time.getTime() + 24*60*60*1000*addDay);
      //格式化日，如果小于9，前面补0
      var day = ("0" + time.getDate()).slice(-2);
      //格式化月，如果小于9，前面补0
      var month = ("0" + (time.getMonth() + 1)).slice(-2);
      //拼装完整日期格式
      var date = time.getFullYear()+"-"+(month)+"-"+(day) ;
      return date;
    }
    function toggleStore(SLID, showStore, st, et, num){
      $('#self_store').val(sessionStorage.userAccount);
      $('#SLIDid_store').val(SLID);
      if (showStore==false) {
        if (st == '') {
          // $newLine = $('<button type="button" name="button" onclick="newDateSubmit">Submit</button>');
          // $("#newDate").append($newLine);
          $("#newDate").removeClass("hide");
          $("#submitRow button[name='bind']").attr({
            'onclick': 'newDateSubmit('+num+')'
          });
          // $('#stid').val(dateFormat(new Date(), 0));
          // $('#etid').val(dateFormat(new Date(), 30));//默认有效期至30天后
        } else {
          $('#stid').val(dateFormat(new Date(st), 0));
          $('#etid').val(dateFormat(new Date(et), 0));
          $('#hsid_store').val(3);
          $("form").submit();
        }
      } else {
        if (st == '') {
          alert("Error: Try to hide(Already in store) but start_time undefined!");
        } else {
          // 不能早于当前最后的一个 deal 的 check_out_time
          if (JSON.parse(sessionStorage.getItem(SLID)) == null) {
            // 没有待完成的 Deal
            $("#stid").val("");
            $("#etid").val("");
          } else {
            // 有待完成的 Deal
            $("#stid").val(dateFormat(new Date(), 0));
            $("#etid").val(dateFormat(new Date(JSON.parse(sessionStorage.getItem(SLID))), 0));
          }
          $('#hsid_store').val(4);
          // $("form").submit();
          $.ajax({
           //几个参数需要注意一下
               type: "POST",//方法类型
               dataType: "text",//预期服务器返回的数据类型
               // url: "/users/login" ,//url
               async: false,
               data: $('form').serialize(),
               success: function (result) {
                   console.log(result);//打印服务端返回的数据(调试用)
                   if (result.resultCode == 200) {
                       alert("SUCCESS");
                   };

                   Materialize.toast('Discontinue Successfully!', 4000);
                   $("#reveal"+num).find("a").eq(0).attr({
                     'onclick': "toggleStore('"+SLID+"', "+false+", '"+st+"', '"+et+"',"+num+")",
                   });
                   $("#reveal"+num).find("a").eq(0).html("Launch");
                   $("#close"+num).click();
               },
               error : function() {
                   alert("异常！");
               }
           });
        }
      }
    }
    function cencelNewDateSubmit() {
      $("#stid").val("");
      $("#etid").val("");
      $("#newDate").addClass("hide");
    }
    function toggleDropDown(num){
      for (var i = 0; i < sessionStorage.numOfLocks; i++) {
        if (num == i) {
          continue;
        }
        $('#dropdown'+i)[0].classList.remove("show");
      }
      $('#dropdown'+num)[0].classList.toggle("show");

    }
    function newDateSubmit(num) {
      var stdate = new Date($('#stid').val());
      var eddate = new Date($('#etid').val());
      if (stdate == "Invalid Date" || eddate == "Invalid Date") {
        alert("Lack of start date or end date!");
        return ;
      } else if (stdate >= eddate) {
        alert("Start date should be greater than end date!");
        return ;
      }
      $('#stid').val(dateFormat(stdate, 0));
      $('#etid').val(dateFormat(eddate, 0));
      $('#hsid_store').val(3);
      $.ajax({
       //几个参数需要注意一下
           type: "POST",//方法类型
           dataType: "text",//预期服务器返回的数据类型
           // url: "/users/login" ,//url
           async: false,
           data: $('form').serialize(),
           success: function (result) {
               console.log(result);//打印服务端返回的数据(调试用)
               if (result.resultCode == 200) {
                   alert("SUCCESS");
               };

               Materialize.toast('Launch Successfully!', 4000);
               $("#reveal"+num).find("a").eq(0).attr({
                 'onclick': "toggleStore('"+result+"', "+true+", '"+stdate+"', '"+eddate+"',"+num+")",
               });
               $("#reveal"+num).find("a").eq(0).html("Discontinue");
               $("#newDate").addClass("hide");
               $("#close"+num).click();
           },
           error : function() {
               alert("异常！");
           }
       });
      // $("form").submit();
    }
    function Unlock(SLID){
      $("#qrimg").empty();
      $("body").append("<div id='mask'></div>");
      $("#mask").addClass("mask").fadeIn("slow");
      $("#LoginBox").fadeIn("slow");
      var qrcode = new QRCode2.default($("#qrimg")[0], {
            width: 200,
            height: 200
          });
      qrcode.clear();
      qrcode.makeCode(SLID);
      $("html,body").animate({scrollTop:0},500);
      return ;
      Flatanywhere.unlock.sendTransaction(sessionStorage.userAccount, {from: sessionStorage.userAccount}, function(err, result){
        if (!err) {
          console.log("Unlock Successfully!");
        } else {
          console.error(err);
        }
      });
    }
    function showType(className){
      $(".lock-item").not(className).fadeOut(500);
      setTimeout(function(){
        $(".lock-item").not(className).addClass("hide");
        $(".lock-item"+className).fadeIn(500);
        $(".lock-item"+className).removeClass("hide");
      }, 500);
    }
    function selectType(num){
      if (num == 0) {
        showType(".unleasedDiv");
      } else if (num == 1) {
        showType(".rentedDiv");
      } else if (num == 2) {
        showType(".rentingDiv");
      } else if (num == 3) {
        showType(".futureDiv");
      } else {
        // show ALL
        $(".lock-item").fadeOut(500);
        setTimeout(function(){
          $(".lock-item").removeClass("hide");
          $(".lock-item").fadeIn(500);
        }, 500);
      }
    }
    $(document).ready(function(){
      setTimeout(function(){
        if ($("#balanceid").html() == "") {
          // alert("Cannot detect the account balance! Go back to home page now.");
          // location.reload(true);
        }
      }, 3000);
      $('#userAccount').val($('#currentUser_info').html());
      $(".dropdown-button").dropdown();
      $(".button-collapse").sideNav();
      $('.datepicker').pickadate({
        selectMonths: true, // Creates a dropdown to control month
        selectYears: 4 // Creates a dropdown of 15 years to control year
      });
  		//关闭二维码
  		$(".close_btn").hover(function () {
        $(this).css({ color: 'black' })
      }, function () {
        $(this).css({ color: '#999' })
      }).on('click', function () {
  			$("#LoginBox").fadeOut("fast");
  			$("#mask").css({ display: 'none' });
  		});
      '<%for (var key in LastDeal) {%>'
        sessionStorage.setItem('<%=key%>', JSON.stringify('<%=LastDeal[key]%>'));
      '<%}%>'
    });
  </script>
</head>

<body>

  <!-- Dropdown Structure -->
  <ul id="dropdown-contact" class="dropdown-content">
    <li><a href="mailto:1155107972@link.cuhk.edu.hk">WU ZhuoMing</a></li>
    <li class="divider"></li>
    <li><a href="mailto:1155107977@link.cuhk.edu.hk">CHEN Yu</a></li>
  </ul>
  <ul id="dropdown-profile" class="dropdown-content">
    <li><a href="#!" onclick="alert(sessionStorage.userAccount)">UserAccount</a></li>
  </ul>
  <!-- Navbar -->
  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">&nbsp;Flatanywhere</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a>Balance: <span id="balanceid"></span>ETH</a></li>
        <li><a class="dropdown-button" href="#!" data-activates="dropdown-contact">Contact<i class="material-icons right">arrow_drop_down</i></a></li>
        <li><a class="dropdown-button" href="#!" data-activates="dropdown-profile">Profile<i class="material-icons right">arrow_drop_down</i></a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="/BindLock">BindLock</a></li>
        <li><a href="/Store">Store</a></li>
        <li><a href="mailto:1155107972@link.cuhk.edu.hk">WU ZhuoMing</a></li>
        <li><a href="mailto:1155107977@link.cuhk.edu.hk">CHEN Yu</a></li>
        <li><a href="" onclick="alert(sessionStorage.userAccount)">UserAccount</a></li>
      </ul>
    </div>
  </nav>
  <p id="currentUser_info" class="hide"></p>
  <!--------------------------------------------------------------------------------------------------------->
  <!-- Body Part -->
  <div style="margin-top:30px;">
  </div>

  <div id="LoginBox">
      <div class="row1">
          Unlock Code<a href="javascript:void(0)" title="关闭窗口" class="close_btn" id="closeBtn">×</a>
      </div>
      <div class="row" id="qrimg"></div>
  </div>
  <form accept-charset="UTF-8" method="post">
    <!-- <div id="newDate" class="hide">
      <input id="stid" type="date" name="stname" />
      <input id="etid" type="date" name="etname" />
      <button type="button" name="button" onclick="newDateSubmit()">Submit</button>
    </div> -->
    <div class="hide container" id="newDate">
      <div class="row">
        <div class="card-panel center-align ">
          <span class="blue-text text-darken-2">Please assign a valid time period for the launched lock.</span>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 m6">
          <i class="material-icons prefix">date_range</i>
          <input id="stid" type="date" name="stname" class="datepicker">
          <label for="stid">Available Since</label>
        </div>
        <div class="input-field col s12 m6">
          <i class="material-icons prefix">date_range</i>
          <label for="etid">Available Until</label>
          <input id="etid" type="date" name="etname" class="datepicker">
        </div>
      </div>
      <div class="row" id="submitRow">
        <div class="col s3 offset-s6">
          <button class="btn-large waves-effect waves-light right red" type="button" onclick="cencelNewDateSubmit()" name="cancel">CANCEL
            <i class="material-icons right">cancel</i>
          </button>
        </div>
        <div class="col s3">
          <button class="btn-large waves-effect waves-light right" type="button" onclick="newDateSubmit()" name="bind">&nbsp;BIND&nbsp;
            <i class="material-icons right">link</i>
          </button>
        </div>

      </div>
    </div>

    <div class="hide">
      <input id="SLIDid_store" name="SLIDname" type="text" required>
      <input id="hsid_store" name="hidden_state" type="text" required>
      <input id="userAccount_store" type="text" name="userAccount" required>
    </div>
  </form>

  <script type="text/javascript">
    sessionStorage.numOfLocks = '<%=Ownerlock.length + Userlock.length%>';
  </script>
  <div class="container">
    <div class="row">
      <div class="col s12 m12 l12">
        <ul class="tabs">
          <li class="tab col s2 offset-s1 hoverable"><a class="active" onclick="selectType()">All</a></li>
          <li class="tab col s2 hoverable"><a onclick="selectType(0)">Unleased</a></li>
          <li class="tab col s2 hoverable"><a onclick="selectType(1)">Being Rented</a></li>
          <li class="tab col s2 hoverable"><a onclick="selectType(2)">Renting</a></li>
          <li class="tab col s2 hoverable"><a onclick="selectType(3)">Booked</a></li>
        </ul>
      </div>
    </div>
    <div id="lock-list" class="row" >
      <% for(var i = 0; i < Ownerlock.length; ++i){ var res = Ownerlock[i]; %>
        <%if(res.currentuser == locals.userAccount){%>
          <script type="text/javascript">
            addLock(0, "<%=res.nickname%>", <%=i%>, "<%=res.SLID%>", "<%=res.isShown%>", "<%=res.start_time%>", "<%=res.end_time%>");
          </script>
        <%} else {%>
          <script type="text/javascript">
            addLock(1, "<%=res.nickname%>", <%=i%>, "<%=res.SLID%>", "<%=res.isShown%>", "<%=res.start_time%>", "<%=res.end_time%>");
          </script>
        <%}%>
      <%}%>
      <% for(var i = Ownerlock.length; i < Ownerlock.length + Userlock.length; ++i){ var res = Userlock[i - Ownerlock.length]; %>
        <script type="text/javascript">
          addLock(2, "<%=res.nickname%>", <%=i%>, "<%=res.SLID%>");
        </script>
      <%}%>
      <% for(var i = Ownerlock.length + Userlock.length; i < Ownerlock.length + Userlock.length + Futurelock.length; ++i){ var res = Futurelock[i - Ownerlock.length - Userlock.length]; %>
        <script type="text/javascript">
          addLock(3, "<%=res.nickname%>", <%=i%>);
        </script>
      <%}%>
    </div>
  </div>
  <br><br><br>
</body>
</html>
