<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <!--//永远以最新的IE版本模式来显示网页-->
  <title>Store</title>

  <link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="./css/buttons.css">
  <link rel="stylesheet" type="text/css" href="./css/common.css">
  <style media="screen">
    .price{
      background: transparent;
      border-style: none;
      text-overflow: ellipsis;
      overflow: hidden;
      outline: none;
    }
  </style>

  <script type="text/javascript" src="./js/jquery.min.js"></script>
  <script type="text/javascript" src="./js/vue.js"></script>
  <script type="text/javascript" src="./js/base.js"></script>
  <script type="text/javascript" src="./js/common.js"></script>
  <script type="text/javascript" src="./js/web3.min.js"></script>
  <script type="text/javascript" src="./js/bootstrap.min.js"></script>
  <script type="text/javascript">
    function dateFormat(time, addDay){
      time = new Date(time.getTime() + 24*60*60*1000*addDay);
      //格式化日，如果小于9，前面补0
      var day = ("0" + time.getDate()).slice(-2);
      //格式化月，如果小于9，前面补0
      var month = ("0" + (time.getMonth() + 1)).slice(-2);
      //拼装完整日期格式
      var date = time.getFullYear()+"-"+(month)+"-"+(day) ;
      return date;
    }
    function addLock(SLID, price, num, icon, func, owner){
      var $newLock = $('<div><img><input><input><input></div>');
      $newLock.filter("div").eq(0).attr({
        'id': 'div'+num,
        'class': 'col-md-3 lock'
      });
      $newLock.children("img").attr({
        // 'id': 'SLIDid'+num,
        'src': './images/' + icon,
        'alt': 'Lock',
        'onclick': func,
        'style': "cursor: pointer",
        'width': '50',
        'height': '50'
      });
      $newLock.children("input").eq(0).attr({
        'id': 'priceid'+num,
        'class': 'price',
        'value': price+"ETH",
        'readonly': 'readonly'
      });
      $newLock.children("input").eq(1).attr({
        'id': 'SLIDid'+num,
        'value': SLID,
        'class': 'hidden'
      });
      $newLock.children("input").eq(2).attr({
        'id': 'ownerid'+num,
        'value': owner,
        'class': 'hidden'
      });
      // console.log($newLock[0]);
      $("#lock-item"+num).append($newLock);
    }

    function Order(num){
      var result = checkDate(num);
      if (result == undefined) {
        return;
      } else if (result == false) {
        alert("Sorry, the selected time slot is not available.");
        return;
      }
      var cidate = new Date($('#checkinid').val()).getTime() + 4*60*60*1000;
      var codate = new Date($('#checkoutid').val()).getTime() + 4*60*60*1000;
      var day_diff = (codate - cidate) / (24*60*60*1000); // from millisecond to day
      var amount = day_diff * $('#priceid'+num).val().substring(0,$('#priceid'+num).val().length-3);
      if (amount <= 0) {
        alert("The price is abnormal.");
        return;
      }

      var SLID = $("#SLIDid"+num).val();
      var owner = $("#ownerid"+num).val();
      var cisecond = parseInt(cidate/1000);
      var cosecond = parseInt(codate/1000);
      console.log(amount, SLID, owner, cisecond, cosecond);
      var newDeal = Flatanywhere.NewDeal({
        filter:{
          SLID: SLID
        }
      });
      Flatanywhere.CreateDeal.sendTransaction(
        SLID,
        owner,
        cisecond,
        cosecond,
        {from: sessionStorage.userAccount,
        gasLimit: "1000000000000",
        value: amount * 1000000000000000000}, //1ETH = 10^18wei
        function(err, result){
          if (!err) {
            var DEALID = result;
            console.log("DEALID:",DEALID);
            newDeal.watch(function(error,result){
              if (!error) {
                newDeal.stopWatching();
                console.log("Create Deal Successfully!");
                setTimeout(function(){
                  $('#DEALID').val(DEALID);
                  $('#SLIDid').val(SLID);
                  $('#sellerid').val(owner);
                  $('#buyerid').val(sessionStorage.userAccount);
                  $('#amountid').val(amount);
                  $('form').submit();
                }, 3000);
              } else {
                console.error(err);
              }
          });
        } else {
          console.error(err);
        }
      });
    }

    function checkDate(num){
      if ($('#checkinid').val() == "" || $('#checkoutid').val() == "") {
        alert("Lack of check-in date or check-out date!");
        return ;
      }
      var cidate = new Date($('#checkinid').val()).getTime() + 4*60*60*1000;
      var codate = new Date($('#checkoutid').val()).getTime() + 4*60*60*1000;
      if (cidate >= codate) {
        alert("Check-out date should be greater than check-in date!");
        return ;
      }
      var startdate = new Date($('.st'+num)[0].innerHTML).getTime();
      var enddate = new Date($('.et'+num)[0].innerHTML).getTime();
      if (codate > enddate || cidate < startdate) {
        return false;
      }
      for (var i = 0; i < $('.in'+num).length; i++) {
        var s = new Date($('.in'+num)[i].innerHTML).getTime();
        var e = new Date($('.out'+num)[i].innerHTML).getTime();
        // console.log(cidate, codate, s, e, (cidate < s) && (codate <= s), (cidate >= e) && (codate > e));
        if (!((cidate < s) && (codate <= s) || (cidate >= e) && (codate > e))) {
          return false;
        }
      }
      return true;
    }
    function search(){
      for (var i = 0; i < $('.lock').length; i++) {
        var result = checkDate(i);
        if (result == undefined) {
          return;
        } else if (result == true) {
          $("#div"+i).removeClass("hidden");
        } else if (result == false) {
          $("#div"+i).addClass("hidden");
        }
      }
    }
    $(document).ready(function(){
      $('#userAccount').val($('#currentUser_info').html());
      $('#checkinid').val(dateFormat(new Date(), 0));
      $('#checkoutid').val(dateFormat(new Date(), 1));
    });
  </script>
</head>

<body>

  <!-- Navbar -->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">HOME</a>
        <a class="navbar-brand" href="/MyLock">MyLock</a>
      </div>

      <div class="collapse navbar-collapse" id="navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a>Balance: <span id="balanceid"></span>ETH</a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Contact Us
              <b class="caret"></b>
              <%#下三角符号 %>
            </a>
            <ul class="dropdown-menu">
              <li>
                <h4 style="text-align:center">WU ZhuoMing:</h4>
              </li>
              <li><a href="mailto:1155107972@link.cuhk.edu.hk">1155107977@link.cuhk.edu.hk</a></li>
              <li class="divider"></li>
              <li>
                <h4 style="text-align:center">CHEN Yu:</h4>
              </li>
              <li><a href="mailto:1155107977@link.cuhk.edu.hk">1155107977@link.cuhk.edu.hk</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Profile
              <b class="caret"></b>
              <%#下三角符号 %>
            </a>
            <ul class="dropdown-menu">
              <li>
                <p id="currentUser_info"></p>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!--------------------------------------------------------------------------------------------------------->
  <!-- Body Part -->
  <div style="margin-top:100px;">
  </div>

  <form method="post">
    <input id="checkinid" type="date" name="checkinname" required/>
    <input id="checkoutid" type="date" name="checkoutname" required/>
    <div class="hidden">
      <input id="DEALID" type="text" name="DEALIDname" required/>
      <input id="SLIDid" type="text" name="SLIDname" required/>
      <input id="sellerid" type="text" name="sellername" required/>
      <input id="buyerid" type="text" name="buyerDname" required/>
      <input id="amountid" type="text" name="amountname" required/>
      <input id="userAccount" type="text" name="userAccount" required>
    </div>
  </form>
  <button type="button" class="button" onclick="search()">Search</button>
  <div id="lock-list" class="lock-list">
    <%for(var i = 0; i < StoreLocks.length; ++i){%>
      <%var res = StoreLocks[i]; %>
      <%var start = arrStartTime[res.SLID]; %>
      <%var end = arrEndTime[res.SLID]; %>
      <div id=lock-item<%=i%>>
        <div class="hidden">
          <div class=st<%=i%>><%=res.start_time%></div>
          <div class=et<%=i%>><%=res.end_time%></div>
          <%if(start != undefined) { %>
            <%for(var j = 0; j < Object.keys(start).length; ++j){  %>
              <div class=in<%=i%>><%=start[j]%></div>
              <div class=out<%=i%>><%=end[j]%></div>
            <%}%>
          <%}%>
        </div>
        <script type="text/javascript">
          addLock("<%=res.SLID%>", "<%=res.unit_price%>", <%=i%>, "icon_lock.png", 'Order(<%=i%>)', "<%=res.owner%>");
        </script>
      </div>
    <%}%>
  </div>
  <br><br><br>

</body>

</html>
