<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <!--//永远以最新的IE版本模式来显示网页-->
  <title>Store</title>

  <link rel="stylesheet" type="text/css" href="./css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <style media="screen">
    body{
      font-family: "微软雅黑";
      background-color: #fff;
    }
    .card{
      border-radius: 20px;
    }
  </style>

  <script type="text/javascript" src="./js/jquery.min.js"></script>
  <script type="text/javascript" src="./js/vue.js"></script>
  <script type="text/javascript" src="./js/base.js"></script>
  <script type="text/javascript" src="./js/common.js"></script>
  <script type="text/javascript" src="./js/web3.min.js"></script>
  <script type="text/javascript" src="./js/materialize.min.js"></script>
  <!-- <script type="text/javascript" src="./js/bootstrap.min.js"></script> -->
  <script type="text/javascript">
    function dateFormat(time, addDay){
      if (addDay == undefined) {
        addDay = 0;
      }
      time = new Date(time.getTime() + 24*60*60*1000*addDay);
      //格式化日，如果小于9，前面补0
      var day = ("0" + time.getDate()).slice(-2);
      //格式化月，如果小于9，前面补0
      var month = ("0" + (time.getMonth() + 1)).slice(-2);
      //拼装完整日期格式
      var date = time.getFullYear()+"-"+(month)+"-"+(day) ;
      return date;
    }
    function addLock(SLID, price, num, owner){

      var $card_image = $('<div><img><span></span></div>');
      $card_image.filter("div").eq(0).attr({
        'class': 'card-image waves-effect waves-block waves-light'
      });
      $card_image.children("img").attr({
        'class': 'activator',
        'src': 'images/lock_store.svg',
      });

      var $card_content = $('<div><span><p></p><a><i>add_shopping_cart</i></a></span><p></p></div>');// TODO: 添加 SLIDid ownerid
      $card_content.filter("div").eq(0).attr({
        'class': 'card-content'
      });
      $card_content.find("span").eq(0).attr({
        'class': 'card-title  grey-text text-darken-4 truncate',
      });
      $card_content.find("a").eq(0).attr({
        'class': 'btn-floating halfway-fab waves-effect waves-light grey right',
        'onclick': 'Order('+num+')',
        'href': 'javascript:void(0)'
      });
      $card_content.find("i").eq(0).attr({
        'class': 'material-icons hoverable',
      });
      $card_content.find("p").eq(0).attr({
        'style': 'display: inline',
        'id': 'priceid'+num,
        'readonly': 'readonly'
      });
      $card_content.find("p").eq(0).html(price+" ETH");
      $card_content.find("p").eq(1).html("Address");

      var $card_reveal = $('<div><span></span><p></p><input><input></div>');
      $card_reveal.filter("div").eq(0).attr({
        'class': 'card-reveal ',
        'id': 'reveal'+num
      });
      $card_reveal.find("span").eq(0).attr({
        'class': 'card-title activator grey-text text-darken-4',
      });
      $card_reveal.find("span").eq(0).html("Address" + "<i class='material-icons right' id='close"+num+"'>close</i>");
      $card_reveal.find("p").eq(0).html("Introduction");
      $card_reveal.find("input").eq(0).attr({
        'id': 'SLIDid'+num,
        'value': SLID,
        'class': 'hide'
      });
      $card_reveal.find("input").eq(1).attr({
        'id': 'ownerid'+num,
        'value': owner,
        'class': 'hide'
      });

      var $newLockCard = $('<div><div class="card hoverable"></div></div>');
      $newLockCard.filter("div").eq(0).attr({
        'id': 'lockid'+num,
        'class': 'col s6 m4 l3 lock'
      });
      $newLockCard.children("div").append($card_image).append($card_content).append($card_reveal);
      $("#lock-list").append($newLockCard);
    }

    function Order(num){
      var result = checkDate(num);
      if (result == undefined) {
        return;
      } else if (result == false) {
        alert("Sorry, the selected time slot is not available.");
        return;
      }
      var cidate = new Date($('#checkinid').val()).getTime() + 4*60*60*1000;
      var codate = new Date($('#checkoutid').val()).getTime() + 4*60*60*1000;
      var day_diff = (codate - cidate) / (24*60*60*1000); // from millisecond to day
      var amount = day_diff * $('#priceid'+num).html().substring(0,$('#priceid'+num).html().length-4);
      if (amount <= 0) {
        alert("The price is abnormal.");
        return;
      }
      $('#checkinid').val(dateFormat(new Date(cidate)));
      $('#checkoutid').val(dateFormat(new Date(codate)));
      var SLID = $("#SLIDid"+num).val();
      var owner = $("#ownerid"+num).val();
      var cisecond = parseInt(cidate/1000);
      var cosecond = parseInt(codate/1000);
      console.log(amount, SLID, owner, cisecond, cosecond);
      var newDeal = Flatanywhere.NewDeal({
        filter:{
          SLID: SLID
        }
      });
      Flatanywhere.CreateDeal.sendTransaction(
        SLID,
        owner,
        cisecond,
        cosecond,
        {from: sessionStorage.userAccount,
        gasLimit: "1000000000000",
        value: amount * 1000000000000000000}, //1ETH = 10^18wei
        function(err, result){
          if (!err) {
            var DEALID = result;
            console.log("DEALID:",DEALID);
            newDeal.watch(function(error,result){
              if (!error) {
                newDeal.stopWatching();
                console.log("Create Deal Successfully!");
                setTimeout(function(){
                  $('#DEALID').val(DEALID);
                  $('#SLIDid').val(SLID);
                  $('#sellerid').val(owner);
                  $('#buyerid').val(sessionStorage.userAccount);
                  $('#amountid').val(amount);
                  $('form').submit();
                }, 3000);
              } else {
                console.error(err);
              }
          });
        } else {
          console.error(err);
        }
      });
    }

    function checkDate(num){
      if ($('#checkinid').val() == "") {
        alert("Please fill in check-in date!");
        return ;
      } else if ($('#checkoutid').val() == "") {
        alert("Please fill in check-out date!");
        return ;
      }
      var cidate = new Date($('#checkinid').val()).getTime() + 12*60*60*1000;
      var codate = new Date($('#checkoutid').val()).getTime() + 12*60*60*1000;
      if (cidate >= codate) {
        alert("Check-out date should be greater than check-in date!");
        return ;
      }
      var startdate = new Date($('.st'+num)[0].innerHTML);
      var enddate = new Date($('.et'+num)[0].innerHTML);
      if (codate > enddate || cidate < startdate) {
        return false;
      }
      for (var i = 0; i < $('.in'+num).length; i++) {
        var s = new Date($('.in'+num)[i].innerHTML);
        var e = new Date($('.out'+num)[i].innerHTML);
        if (!((cidate < s) && (codate <= s) || (cidate >= e) && (codate > e))) {
          console.log(new Date(cidate), new Date(codate), s, e, (cidate < s) && (codate <= s), (cidate >= e) && (codate > e));
          return false;
        }
      }
      return true;
    }
    function search(){
      for (var i = 0; i < $('.lock').length; i++) {
        var result = checkDate(i);
        if (result == undefined) {
          return;
        } else if (result == true) {
          $("#lockid"+i).removeClass("hide");
        } else if (result == false) {
          $("#lockid"+i).addClass("hide");
        }
      }
    }
    $(document).ready(function(){
      $('#userAccount').val(sessionStorage.userAccount);
      $(".button-collapse").sideNav();
      $('.datepicker').pickadate({
        selectMonths: true, // Creates a dropdown to control month
        selectYears: 4 // Creates a dropdown of 15 years to control year
      });
      setInterval(function(){
        $.ajax({
         //几个参数需要注意一下
             type: "GET",//方法类型
             dataType: "json",//预期服务器返回的数据类型
             url: "/Query" ,//url
             // async: true,
             success: function (result) {
                 // console.log(result);//打印服务端返回的数据(调试用)
                 if (result[0].count > sessionStorage.newDealCount) {
                   Materialize.toast("You receive "+(result[0].count-sessionStorage.newDealCount)+" new deals!", 5000);
                   sessionStorage.newDealCount = result[0].count;
                   if ($("#mylock").find("span").length > 0) {
                     $("#mylock").find("span").html = result[0].count;
                   } else {
                     $("#mylock").html('MyLock ' + '<span class="new badge">' + result[0].count + '</span>');
                   }
                 } else if (sessionStorage.newDealCount != 0) {
                   $("#mylock").html('MyLock ' + '<span class="new badge">' + result[0].count + '</span>');
                 }
             },
             error : function() {
                 alert("异常！");
             }
         });
      }, 3000);
    });
  </script>
</head>

<body>
  <!-- Dropdown Structure -->
  <ul id="dropdown-contact" class="dropdown-content">
    <li><a href="mailto:1155107972@link.cuhk.edu.hk">WU ZhuoMing</a></li>
    <li class="divider"></li>
    <li><a href="mailto:1155107977@link.cuhk.edu.hk">CHEN Yu</a></li>
  </ul>
  <ul id="dropdown-profile" class="dropdown-content">
    <li><a href="javascript:void(0)" onclick="alert(sessionStorage.userAccount)">UserAccount</a></li>
  </ul>
  <!-- Navbar -->
  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">&nbsp;Flatanywhere</a>
      <a href="javascript:void(0)" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="javascript:void(0)" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Your account balance"><span id="balanceid"></span>&nbsp;ETH</a></li>
        <li><a href="/BindLock" class="dropdown-button tooltipped" data-position="bottom" data-delay="50" data-tooltip="Bind A New Lock">Bind</a></li>
        <li><a href="/MyLock" class="dropdown-button tooltipped" data-position="bottom" data-delay="50" data-tooltip="See My Own Flat">MyLock</a></li>
        <li><a class="dropdown-button tooltipped" href="javascript:void(0)" data-position="bottom" data-delay="50" data-tooltip="Developers' Emails" data-activates="dropdown-contact">Contact<i class="material-icons right">arrow_drop_down</i></a></li>
        <li><a class="dropdown-button tooltipped" href="javascript:void(0)" data-position="bottom" data-delay="50" data-tooltip="Your Account Number" data-activates="dropdown-profile">Profile<i class="material-icons right">arrow_drop_down</i></a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="/BindLock">BindLock</a></li>
        <li><a href="/MyLock">MyLock</a></li>
        <li><a href="mailto:1155107972@link.cuhk.edu.hk">WU ZhuoMing</a></li>
        <li><a href="mailto:1155107977@link.cuhk.edu.hk">CHEN Yu</a></li>
        <li><a href="javascript:void(0)" onclick="alert(sessionStorage.userAccount)">UserAccount</a></li>
      </ul>
    </div>
  </nav>
  <!--------------------------------------------------------------------------------------------------------->
  <!-- Body Part -->
  <div style="margin-top:100px;">
  </div>
  <div class="container">
    <form method="post">
      <div class="row">
        <div class="input-field col s12 m4 offset-m1">
          <i class="material-icons prefix">date_range</i>
          <input id="checkinid" type="date" name="checkinname" class="datepicker">
          <label for="checkinid">Check-in Date</label>
        </div>
        <div class="input-field col s12 m4">
          <i class="material-icons prefix">date_range</i>
          <input id="checkoutid" type="date" name="checkoutname" class="datepicker">
          <label for="checkoutid">Check-out Date</label>
        </div>
        <div class="col s12 m3">
          <button class="btn-large waves-effect waves-light right btn-flat" type="button" onclick="search()">&nbsp;Search&nbsp;
            <i class="material-icons right">search</i>
          </button>
        </div>
      </div>
      <div class="hide">
        <input id="DEALID" type="text" name="DEALIDname" required/>
        <input id="SLIDid" type="text" name="SLIDname" required/>
        <input id="sellerid" type="text" name="sellername" required/>
        <input id="buyerid" type="text" name="buyerDname" required/>
        <input id="amountid" type="text" name="amountname" required/>
        <input id="userAccount" type="text" name="userAccount" required>
      </div>
    </form>

    <div id="lock-list" class="row">
      <%for(var i = 0; i < StoreLocks.length; ++i){%>
        <%var res = StoreLocks[i]; %>
        <%var start = arrStartTime[res.SLID]; %>
        <%var end = arrEndTime[res.SLID]; %>
        <div id=lock-item<%=i%>>
          <div class="hide">
            <div class=st<%=i%>><%=res.start_time%></div>
            <div class=et<%=i%>><%=res.end_time%></div>
            <%if(start != undefined) { %>
              <%for(var j = 0; j < Object.keys(start).length; ++j){  %>
                <div class=in<%=i%>><%=start[j]%></div>
                <div class=out<%=i%>><%=end[j]%></div>
              <%}%>
            <%}%>
          </div>
          <script type="text/javascript">
            addLock("<%=res.SLID%>", "<%=res.unit_price%>", <%=i%>, "<%=res.owner%>");
          </script>
        </div>
      <%}%>
    </div>
  </div>
  <br><br><br>
</body>

</html>
